.wrapper {
	min-height: 100vh;
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	background-image: url("../assets/pattern-curve.svg");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: left bottom;
	background-size: 75%;
}

.container {
	width: 100%;
	max-width: 512px;
	min-height: 100vh;

	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 28px;
}

.image-container {
	background-image: url("../assets/pattern-bg.svg");
	background-repeat: no-repeat;
	background-size: contain;
	width: 100%;
	aspect-ratio: 1/1;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.image {
	width: 80%;
	height: auto;
	border-radius: 8px;
	box-shadow: -2px 12px 24px 0px rgba(80, 80, 80, 0.1);
}

.description-container {
	background-image: url("../assets/pattern-quotes.svg");
	background-repeat: no-repeat;
	background-size: 68px;
	background-position-x: center;
	text-align: center;
	width: 100%;
	margin-top: 16px;
	z-index: 10;
}

.description {
	display: block;
	text-align: center;
	font-size: 18px;
	margin-top: 32px;
	color: #4b5563;
	line-height: 1.5;
}

.author-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 24px;
	gap: 8px;
}

.author-name {
	color: #111827;
	font-weight: 700;
}

.occupation {
	color: #9ca3af;
}

.button-control-container {
	position: absolute;
	bottom: 10%;
	transform: translateY(50%);
	display: flex;
	background-color: white;
	border-radius: 9999px;
	box-shadow: -2px 2px 12px 0px rgba(80, 80, 80, 0.1);
}

.button-control {
	padding: 12px 16px;
}

.button-control img {
	height: 15px;
	width: 10px;
}

@media screen and (min-width: 768px) {
	.wrapper {
		background-size: 60%;
	}

	.container {
		max-width: 1024px;
		flex-direction: row-reverse;
	}

	.description-container {
		margin: 0;
		margin-right: -144px;
		background-size: 96px;
		background-position-x: 60px;
	}

	.description {
		text-align: start;
		font-size: 1.25rem;
		margin-top: 40px;
	}

	.author-info {
		flex-direction: row;
		justify-content: flex-start;
	}
}
